DATABASE_URL=postgresql://postgres:password@localhost:54322/postgres
SUPABASE_URL=https://rkwbixidpaqweavghfea.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrd2JpeGlkcGFxd2VhdmdoZmVhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzc2NjE5OCwiZXhwIjoyMDkzMzQyMTk4fQ.YhuyGwW8qia858aqMfu3nhPkmLNoIRgdWpQ6AxSvI9U
SUPABASE_BUCKET=omnidrive
FRONTEND_URL=http://localhost:5173
PORT=3000
NODE_ENV=development
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
VAPID_PUBLIC_KEY=BGKAKhOQwJcgAl5rdvo4wzRByAT7jAwkHHf06Hlpl1NVSbMis8AG_yu0vYGUy6jIAKTAfBVuhQxd1KbWA7K8upk
VAPID_PRIVATE_KEY=Ulfbxy2VJPubCDYxPrKvDdSZU6VVkmwlwFUGOeXbRgg
VAPID_EMAIL=stevens@matrix.local
