VITE_SUPABASE_URL=https://rkwbixidpaqweavghfea.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrd2JpeGlkcGFxd2VhdmdoZmVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3NjYxOTgsImV4cCI6MjA5MzM0MjE5OH0.JnpkukDVuPIvtlBZyHrPFzBReDIVEITrD0uAqGix77U
VITE_API_URL=http://localhost:3000/api
VITE_MAPBOX_TOKEN=pk.xxx
VITE_VAPID_PUBLIC_KEY=BGKAKhOQwJcgAl5rdvo4wzRByAT7jAwkHHf06Hlpl1NVSbMis8AG_yu0vYGUy6jIAKTAfBVuhQxd1KbWA7K8upk
